/* header {
  border: 2px solid rgb(255, 0, 119);
} */
/* h1 {
  border: 2px solid rgb(8, 8, 34);
}
.head-par {
  border: 2px solid yellowgreen;
} */
/* h1 {
  display: inline;
}
p {
  display: inline;
} */
/* header {
  display: flex;
} */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  background-color: rgb(98, 92, 92);
  color: lightsalmon;
  align-content: center;
}
